<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="my-3">
    <div class="jumbotron bg-light text-center py-3">
        <h1 class="text-center font-weight-bolder">Delete Jewellery</h1>
        <hr class="hr-2 bg-dark w-25">
        <form id="delete-product-form" class="form w-25 mx-auto" th:action="@{/products/delete/{id}(id=${productId})}"
              method="post" enctype="multipart/form-data"><input type="hidden" name="_csrf"
                                                                 value="c686cd14-a7f9-4216-8009-c093b7d3df86">
            <div class="form-group">
                <label for="delete-product-name" class="font-weight-bold">Name</label>
                <input type="text" class="form-control text-center" id="delete-product-name" name="name"
                       th:value="${product.name}" disabled>
            </div>
            <div class="form-group">
                <label for="delete-product-description" class="font-weight-bold">Description</label>
                <textarea name="description" id="delete-product-description" class="form-control" rows="5"
                          th:utext="${product.description}" disabled></textarea>
            </div>
            <div class="form-group">
                <label for="delete-product-price" class="font-weight-bold">Price</label>
                <input type="number" step="any" class="form-control text-center" id="delete-product-price" name="price"
                       th:value="${product.price}" disabled>
            </div>
            <div class="form-group">
                <label for="delete-product-quantity" class="font-weight-bold">Quantity</label>
                <input type="number" step="any" class="form-control text-center" id="delete-product-quantity"
                       name="quantity" th:value="${product.quantity}" disabled>
            </div>
            <div class="form-group">
                <label for="delete-product-categories" class="font-weight-bold">Categories</label>
                <select multiple="" class="form-control" id="delete-product-categories" name="categories" disabled>
                    <option th:each="category : ${product.categories}" th:utext="${category}" th:value="${category}"
                            readonly></option>
                </select>
            </div>
            <hr class="hr-2 bg-dark w-25">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-danger">Delete Jewellery</button>
            </div>
        </form>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>