<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="footer footer-expand-lg footer-dark bg-primary font-weight-bolder">
        <div class="col-lg-12 text-light p-2">
            <p class="mb-0">&copy;All Rights Reserved To <a
                    href="https://drive.google.com/open?id=1uiDY10biqgJmIcFRqjQ2HXMOrZd0Mwer"
                    target="_blank" rel="noopener noreferrer" class="text-danger">Plamen Borachev</a>.</p>
            <p class="mb-0">Based on <a href="https://getbootstrap.com" target="_blank"
                                        rel="noopener noreferrer" class="text-danger">Bootstrap</a>. Icons from
                <a href="http://fontawesome.io/" target="_blank" rel="noopener noreferrer" class="text-danger">Font
                    Awesome</a>. Web fonts from <a href="https://fonts.google.com/" target="_blank"
                                                   rel="noopener noreferrer" class="text-danger">Google</a>.</p>
        </div>
    </div>
</th:block>